# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambientes Virtuais
venv/
.venv/
env/
ENV/
.env/

# Django
db.sqlite3
media/
staticfiles/
/static/

# Configurações locais e segredos
.env
.secrets
local_settings.py

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
